
<br>
<br>
<br>
<br>
<h1>Informacion del Usuario:</h1>
<br>
<br>



<h2>Nombre: {{User.name}}</h2>
<h2>Correo: {{User.email}}</h2>
<h2>Codigo: {{User.codigo}}</h2>
<img src={{Src}} alt="QR Code Image">
<h2>Status: {{User.status}}</h2>




